body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default margin */
}
.button{
    margin-top: 2.5%;
    width: 20%;
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-family: sans-serif;
}
.button1{
    margin-top: 2.5%;
    width: 10%;
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-family: sans-serif;
}
.homebtn{
  margin-top: 2.5%;
  width: 10%;
  background-color: black;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
  height: 4vh;
}
.homeintro{
  margin-left: 20%;
}
.introimg{
  height: 100%;
  width: 100%;
}

/* I PHONE 5 */
@media (min-width: 0px) and (max-width: 320px){
    .head h1{
      font-size: 1.5rem;
    }
    .homebtn{
    width: 40%;
    height: 20%;
    font-size: 1.5rem;
    }
    .homeintro{
      margin-left: 0%;
    }
    .homeintro div h1, h4{
      font-size: 1rem;
    }
    .introimg{
      height: 20vh;
      width: 30vw;
    }
    .button{
      width: 80px;
      height: 30px;
    }
    .button1{
      width: 80px;
      height: 30px;
      margin-top: 20%;
    }
}
/* NORMAL SIZE */
@media (min-width: 321px) and (max-width: 375px){
  .head h1{
    font-size: 2rem;
  }
  .homebtn{
  width: 40%;
  height: 20%;
  font-size: 1.5rem;
  }
  .homeintro{
    margin-left: 0%;
  }
  .homeintro div h1, h4{
    font-size: 1rem;
  }
  .introimg{
    height: 20vh;
    width: 30vw;
  }
  .button{
    width: 80px;
    height: 30px;
  }
  .button1{
    width: 80px;
    height: 30px;
    margin-top: 20%;
  }
}

/* I PHONE 13 ONE PLUS*/
@media(min-width: 376px) and (max-width: 425px){
  .head h1{
    font-size: 2rem;
  }
  .homebtn{
  width: 40%;
  height: 20%;
  font-size: 1.5rem;
  }
  .homeintro{
    margin-top: 70%;
  }
  .homeintro div h1, h4{
    font-size: 1.3rem;
  }
  .introimg{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-left: -55vw;
  }
  .button{
    width: 80px;
    height: 30px;
  }
  .button1{
    width: 80px;
    height: 30px;
    margin-top: 20%;
  }
}

/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px){
  .head h1{
    font-size: 2rem;
  }
  .homebtn{
    width: 40%;
    height: 20%;
    font-size: 1.5rem;
    }
    .homeintro{
      margin-top: 30vh;
    }
    .homeintro div h1, h4{
      font-size: 1.3rem;
    }
    .introimg{
      margin-top: 10vh;
      height: 30vh;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      margin-left: -55vw;
    }
    .button{
      width: 80px;
      height: 30px;
    }
    .button1{
      width: 80px;
      height: 30px;
      margin-top: 20%;
    }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
  .head h1{
    font-size: 3rem;
  }
  .homebtn{
    width: 40%;
    height: 20%;
    font-size: 2.5rem;
    }
    .button{
      width: 80px;
      height: 40px;
      font-size: 1.5rem;
    }
    .button1{
      width: 80px;
      height: 40px;
      margin-top: 20%;
      font-size: 1.5rem;
    }
    .introimg{
      height: 30vh;
      width: 40vw;
      margin-top: 20vh;
      margin-left: -10vw;
    }
}

/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px){
  .head h1{
    font-size: 3rem;
  }
  .homebtn{
    width: 40%;
    height: 20%;
    font-size: 2.5rem;
    }
}