body {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
}

.buttonContainers {
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.BTNContainer{
    width: 100%;
    height: 10%;
    position: sticky;
    bottom: 0;
}
.buttonContainers svg {
    display: flex;
    font-size: 100%;
    justify-content: center;
}
.VideosContainer{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.startingvid{
    width: 100%;
}
.OwnerVideo{
    height: 20%;
    width: 20%;
    border-radius: 0.5rem;
    display: flex;
    margin-bottom: 10vh;
    position: fixed;
    z-index: 99;
    bottom: 0;
}

.chatContainer {
    height: 50%;
    max-height: 400px;
    overflow-y: auto;
    width: 15%;
    z-index: 999;
    position: absolute; /* Change to absolute to position it relative to its nearest positioned ancestor */
    bottom: 0; /* Position it at the bottom */
    border-radius: 0.5rem;
    right: 0;
    border: 2px solid gray;
    padding: 2.5%;
}

.conferenceView{
    height: 90%;
    width: 100%;
}

.getinfo Button{
    font-size: 1rem;
}
.UsersVideo{
    width: 100%;
    display: flex;
}
.close{
    width: 40%;
    font-size: 1rem;
    margin-left: 5%;
    border: none;
    background-color: black;
    color: white;
    margin-top: 1%;
    border-radius: 0.5rem;
}
/* I PHONE 5 */
@media (min-width: 0px) and (max-width: 320px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 80%;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.7rem;
    }
    .OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 70%;
        background-color: white;
        
    }
    .chattingArea input{
        height: 8vh;
        width: 70%;
        border: 2px solid black;
    }
   
}
/* NORMAL SIZE */
@media (min-width: 321px) and (max-width: 375px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 80%;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.7rem;
    }.OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 70%;
        background-color: white;
        margin-bottom: 15%;
    }
    .chattingArea input{
        height: 6vh;
        width: 70%;
        border: 2px solid black;
    }
}
/* I PHONE 13 ONE PLUS*/
@media(min-width: 376px) and (max-width: 425px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 60%;
        height: 5vh;
        font-size: 1.5rem;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.8rem;
    }.OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 70%;
        background-color: white;
        margin-bottom: 15%;
    }
    .chattingArea input{
        height: 6vh;
        width: 70%;
        border: 2px solid black;
    }
}
/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 60%;
        height: 5vh;
        font-size: 1.5rem;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.8rem;
    }.OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 70%;
        background-color: white;
        margin-bottom: 15%;
    }
    .chattingArea input{
        height: 6vh;
        width: 70%;
        border: 2px solid black;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 60%;
        height: 5vh;
        font-size: 1.5rem;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.8rem;
    }
    .UsersVideo{
        width: 100vw;
        height: 50%;
    }
    .OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 50%;
        background-color: white;
        margin-bottom: 15%;
    }
    .chattingArea input{
        height: 6vh;
        width: 70%;
        border: 2px solid black;
    }
}
/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px){
    .startingvid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .startingvid video{
        width: 80%;
        
    }
    .getinfo{
        width: 100%;
    }
    .user{
        width: 60%;
        height: 8vh;
        font-size: 1.5rem;
    }
    .getinfo Button{
        width: 20%;
        font-size: 0.8rem;
    }.UsersVideo{
        width: 100vw;
        height: 50%;
    }
    .OwnerVideo{
        width: 50%;
    }
    .chatContainer{
        width: 30%;
        height: 80%;
        background-color: white;

    }
    .chattingArea input{
        height: 6vh;
        width: 70%;
        border: 2px solid black;
    }
    
}