body {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0; /* Remove default margin */
}

.buttonContainers {
    display: flex;
    height: 10vh;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.BTNContainer{
    width: 100%;
    height: 10%;
    position: sticky;
    bottom: 0;
}
.buttonContainers svg {
    display: flex;
    font-size: 100%;
    justify-content: center;
}
.VideosContainer{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.OwnerVideo{
    height: 20%;
    width: 20%;
    border-radius: 0.5rem;
    display: flex;
    margin-bottom: 10vh;
    position: fixed;
    z-index: 99;
    bottom: 0;
}

.chatContainer {
    height: 50%;
    max-height: 400px;
    overflow-y: auto;
    width: 15%;
    z-index: 999;
    position: absolute; /* Change to absolute to position it relative to its nearest positioned ancestor */
    bottom: 0; /* Position it at the bottom */
    border-radius: 0.5rem;
    right: 0;
    
}

.conferenceView{
    height: 90%;
    width: 100%;
}